{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} |{{serie.name }}
{% endblock %}

{% block body %}
    <div>
        <h2>{{ serie.name }}</h2>
        <div>
            <label for="">Genre :</label>
            <p>{{ serie.genre }}</p>
        </div>
        <div>
            <label for="">Résumé : </label>
            <p>{{ serie.overview }}</p>

        </div>

    </div>
{% endblock %}

